////////////////////////////////
// Variables
////////////////////////////////
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}


////////////////////////////////
// Header
////////////////////////////////
nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}


////////////////////////////////
// Main
////////////////////////////////
.main {
  margin-top: 50px;
}